@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<object>
@{
	Layout = null;
	var properties = Model.GetType().GetProperties();
	string keyName = string.Empty;
	var keyProp = Model.GetType().GetProperties().FirstOrDefault(x => x.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.KeyAttribute), true).Any());
	if (keyProp != null) { keyName = keyProp.Name; }
	var keyValue = string.Empty;
	if (keyProp != null) { keyValue = Model.GetType().GetProperty(keyName).GetValue(Model).ToString(); }
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
<body>
	@this.Path
	<form action="@keyValue" method="post">
		@foreach (var prop in properties) {
			if (prop.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.KeyAttribute), true).Any()) {
				<input type="hidden" name="@prop.Name" value="@prop.GetValue(Model)" />
			} else {
				<div class="form-group">
					<label>@prop.Name</label>
					<input name="@prop.Name" value="@prop.GetValue(Model)" />
				</div>
			}
		}
		<div><input type="submit" value="Save" /></div>
	</form>
</body>
</html>
